<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('./partials/head.ejs') %>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Users</title>
</head>

<body>
  <div class="container-fluid mt-5 text-center p-2">
    <%- include('./partials/navbar.ejs') %>

    <div class="container-fluid mt-5 bg-white">
      <div class="d-flex justify-content-between align-items-center  ">
        <h2 class="p-3 text-center">Users</i></h2>
        <button class="btn btn-success height-50" onclick="showAddUserForm()"><i class="bi bi-plus-square"></i> Add
          User</button>
      </div>
      <div class="list-group">
        <div class="row px-3 py-1 w-100">
          <div class="col-1 py-1 text-start">Id</div>
          <div class="col-1 py-1 text-start">Username</div>
          <div class="col-1 py-1 text-start">First Name</div>
          <div class="col-1 py-1 text-start">Last Name</div>
          <div class="col-2 py-1 text-start">Email</div>
          <div class="col-2 py-1 text-start">Address</div>
          <div class="col-1 py-1 text-start">Telephone</div>
          <div class="col-1 py-1 text-start">Role</div>
          <div class="col-1 py-1 text-start">Membership</div>
          <div class="col-1 py-1 text-start">Options</div>
        </div>
        <div id="user-container">

        </div>

      </div>
    </div>

  </div>
  <%- include('partials/extras.ejs') %>
  <%- include('./partials/scripts.ejs') %>
  <script src="/javascript/admin-users.js"></script>
</body>

</html>