body {
  height: 100vh;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-image: url('../images/background.jpg');
}

a {
  color: #00b7ff;
}

.w-30p {
  width: 30px !important;
}

.w-40p {
  width: 40px !important;
}

.w-50p {
  width: 50px !important;
}

.w-60p {
  width: 60px !important;
}

.w-70p {
  width: 70px !important;
}

.w-80p {
  width: 80px !important;
}

.w-90p {
  width: 90px !important;
}

.w-100p {
  width: 100px !important;
}

.w-200p {
  width: 200px !important;
}

.w-250p {
  width: 250px !important;
}

.w-300p {
  width: 300px !important;
}

.w-350p {
  width: 350px !important;
}

.w-400p {
  width: 400px !important;
}

.height-50 {
  height: 50px !important;
}

.silver {
  background-color: #c0c0c0 !important;
  color: white;
}

.bronze {
  background-color: #cd7f32 !important;
  color: white;
}

.gold {
  background-color: #ffd700 !important;
  color: white;
}
