body {
  height: 100vh;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-image: url('../images/background.jpg');
}

a {
  color: #00b7ff;
}

.height-50 {
  height: 50px;
}

.silver {
  background-color: #c0c0c0 !important;
  color: white;
}

.bronze {
  background-color: #cd7f32 !important;
  color: white;
}

.gold {
  background-color: #ffd700 !important;
  color: white;
}
